<% user = User.find(session[:user_id]) %>
<h2><%= l(:label_home) %></h2>
<% if Rails.env == "development" %>
<p><%= user %></p>
<% end %>
<% if user.clocked_in? %>
<button type="button" data-action="clockOut" data-user="<%= session[:user_id] %>" data-type="Daily Out" class="punch">Daily Clock Out</button>
<% else %>
<button type="button" data-action="clockIn" data-user="<%= session[:user_id] %>" data-type="Daily In" class="punch">Daily Clock In</button>
<% end %>
<div class="splitcontentleft">
  <%= textilizable Setting.welcome_text %>
  <% if @news.any? %>
  <div class="news box">
  <h3><%=l(:label_news_latest)%></h3>
    <%= render :partial => 'news/news', :collection => @news %>
    <%= link_to l(:label_news_view_all), :controller => 'news' %>
  </div>
  <% end %>
  <%= call_hook(:view_welcome_index_left, :projects => @projects) %>
  <div class="time box">
	<h3>Timesheet</h3>
	<%= render partial: "punches/punches", collection: user.punches unless user.punches.nil? %>
  </div>
</div>

<div class="splitcontentright">
    <% if @projects.any? %>
  <div class="projects box">
  <h3><%=l(:label_project_latest)%></h3>
    <ul>
    <% for project in @projects %>
      <% @project = project %>
      <li>
      <%= link_to_project project %> (<%= format_time(project.created_on) %>)
      <%= textilizable project.short_description, :project => project %>
      </li>
    <% end %>
    <% @project = nil %>
    </ul>
  </div>
  <% end %>
    <%= call_hook(:view_welcome_index_right, :projects => @projects) %>
</div>

<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom, {:controller => 'news', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_news_latest)}") %>
<%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_activity)}") %>
<% end %>
